.web3os-www-browser .wb-body {
  background-color: white !important;
  color: #121212 !important;
}

.web3os-www-browser-toolbar {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  background-color: #240858;
  min-height: 2.5rem;
}

.web3os-www-browser-toolbar-button-wrapper {
  display: flex;
  gap: 1rem;
  align-self: center;
  min-width: 64px;
}

.web3os-www-browser-toolbar-button-wrapper mwc-icon {
  /* cursor: pointer; */
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.web3os-www-browser-toolbar-addressbar-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 1rem;
  width: 70%;
  font-weight: bolder;
  font-size: 1.25rem;
  color: black;
  background-color: #ddd;
}
